$font-size-base: 16px;

@function em($px, $base: $font-size-base) {
  @return ($px / $base) * 1em;
}

@function rem($px, $base: $font-size-base) {
  @return ($px / $base) * 1rem;
}


* {
  box-sizing: border-box;

  &::before,
  &::after { box-sizing: inherit; }
}

body {
  margin:0;
  padding:0;
  font: $font-size-base 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #404040;
}

a {
  text-decoration: none;
  color:inherit;
}

.h2 { font-size: 1.5em; }

.d-flex { display: flex; }

.flex-grow-1 {
  flex-grow: 1 !important;
  max-width: 100%;
}

.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 15px !important; }
.mt-2 { margin-top: 30px !important; }

/*================================================================
  container
================================================================*/

.container {
  flex: 1;
  max-width:1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.container_vertical-centerer {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

/*================================================================
  layout
================================================================*/

.layout-sidebar {
  flex: 0 0 251px;
  padding: 30px 0;
  border-right: 1px solid #ddd;
}

.layout-sidebar__title {
  font-size: 1.5em;
  padding-right: 30px;
}

.layout-sidebar__list {
  list-style: none;
  padding: 0;
}

.layout-sidebar__list-item {
  font-size: 1.25rem;
  font-weight: 300;
  border-bottom: 1px solid #ddd;
}

.layout-sidebar__list-link {
  display: block;
  padding: 10px 30px 10px 0;
  color: #868686;
  transition: color .25s;

  &:hover,
  &:focus {
    outline: none;
    color: #000;
  }
}

/*================================================================
layout-content
================================================================*/

.layout-content {
  flex: 1 1 auto;
  padding: 30px 0 30px 30px;
}

/*================================================================
  logo
================================================================*/

.logo {
  display: inline-block;
  font-family: 'Monoton', cursive;
  color: #fff;
  font-size: 40px;
  text-decoration: none;
}

/*================================================================
  main-carousel
================================================================*/

.main-carousel {
  position: relative;
  margin-top: -85px;

  .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    flex-wrap: wrap;
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: em(768px)) { display: none !important; }

    li {
      button {
        overflow: hidden;
        position: relative;
        width: 2rem;
        height: 2rem;
        padding: 0;
        margin: .2rem .6rem;
        border-color: transparent;
        background-color: transparent;
        text-indent: -999px;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: .9rem;
          height: .9rem;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, .6);
          box-shadow: 0 0 2px rgba(0, 0, 0, .5);
          transition: background-color .25s;
        }

        &:hover,
        &:focus {
          outline: none;
          background-color: transparent;

          &::before { background-color: #fff; }
        }
      }

      &.slick-active {
        button {
          &:before { background-color: #fff; }
        }
      }
    }
  }
}

.main-carousel__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 166px 15px 80px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-carousel__item-container {
  max-width: 1785px;
}

.main-carousel__item-content {
  padding: 0 5%;

  @media (max-width: em(1200px)) { padding: 0; }
}

.main-carousel__item-title,
.main-carousel__item-subtitle {
  display: table;
  padding: 0 0.4em;
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 .1em rgba(0, 0, 0, .5);
  background-color: rgba(130, 130, 130, .6);
}

.main-carousel__item-title {
  font-size: 4.37em;
  font-weight: 700;

  @media (max-width: em(768px)) { font-size: 9vw; }
}

.main-carousel__item-subtitle {
  font-weight: 300;
  font-size: 3.125em;

  @media (max-width: em(768px)) { font-size: 6.5vw; }
}

.main-carousel__item-btn {
  box-shadow: 0 0 .3em rgba(0, 0, 0, .1)
}

/*================================================================
  modal
================================================================*/

.modal {
  width: 100%;
  min-height: 475px;
  padding: 30px;
  border: 1px solid #999592;
  border-top: 5px solid #999592;
}

.modal_flex { display: flex; }

.modal__col {
  flex: 1;

  & + & { margin-left: 30px; }
}

.modal__title {
  margin-bottom: .8em;
  font-size: 1.5em;
  color: #686868;
  text-transform: uppercase;
}

/*================================================================
  form
================================================================*/

.form-group { margin: 15px 0; }

.form-row { display: flex; }

.form-col {
  flex: 1;

  & + & { margin-left: 15px; }
}

/*================================================================
  dialog-alert
================================================================*/

.dialog-alert { padding: 3rem; }

.dialog-alert__title {
  font-size: 1.87em;
  text-align: center;
}

/*================================================================
  info-section
================================================================*/

.info-section {
  background-color: #f8f8f8;
  padding: 15px;
}

.info-section__title {
  margin-top: 0;
  text-transform: uppercase;
}

/*================================================================
  preloader
================================================================*/

.preloader {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
