.form-group { margin: 15px 0; }

.form-row {
  @media (min-width: em(520px)) {
    display: flex;
  }
}

.form-col {
  & + & { margin-top: 15px; }

  @media (min-width: em(520px)) {
    flex: 1;

    & + & {
      margin-top: 0;
      margin-left: 15px;
    }
  }
}
