table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  text-align: left;
}

td,
th {
  padding: em(8px);
  border: 1px solid #ddd;
}

.table-striped {
  tr {
    &:nth-child(even) { background-color: #ddd; }
  }
}
