$default-color: #e1ddc3;

.btn {
  display: inline-block;
  padding: .6em;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $default-color;
  transition: .25s;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    background-color: darken($default-color, 10%);
  }
}

.btn_cta { min-width: 200px; }

.btn_blue {
  color: #fff;
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 15%);
  }
}
