$border-color: #f0f0f0;

.card { overflow: hidden; }

.card__img {
  height: 280px;
  border: 1px solid $border-color;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

// .card__header { border-bottom: 1px solid $border-color; }

.card__brand,
.card__name,
.card__price {
  margin: rem(5px) 0;
  text-align: center;
}

.card__brand {
  font-weight: 700;
  font-size: em(17px);
  color: #2196f3;
}

.card__name {
  font-weight: 700;
  font-size: em(21px);
}

.card__price {
  font-weight: 300;
  font-size: em(21px);
}

.card__actions { display: flex; }

.card__actions-col {
  flex: 0 0 auto;

  &:nth-child(1) {
    flex-grow: 1;
    padding-right: 10px;
  }
}

.card__btn {
  display: block;
  width: 100%;
  padding: em(5px) em(10px);
  border: 1px solid #dcdcdc;
  font-size: em(14px);
  color: #c3c0b1;
  background-color: #f8f8f8;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #aaa;
  }
}

/*================================================================
  card_inline
================================================================*/

.card_inline {
  @media (min-width: em(992px)) {
    display: flex;
  }
  .card__img {
    @media (min-width: em(992px)) {
      flex: 0 0 rem(200px);
      height: rem(211px);
      border: 0 none;
    }
  }

  .card__body {
    @media (min-width: em(992px)) {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      border: 1px solid $border-color;
    }
  }

  .card__header {
    @media (min-width: em(992px)) {
      display: flex;
      flex-wrap: wrap;
      padding-right: 15px;
      border-bottom: 1px solid $border-color;
      align-items: baseline;
    }
  }

  .card__brand,
  .card__name,
  .card__price {
    @media (min-width: em(992px)) {
      margin-left: 15px;
    }
  }

  .card__brand {
    @media (min-width: em(992px)) {
      font-size: em(21px);
    }
  }

  .card__description {
    @media (min-width: em(992px)) {
      padding: 15px;
      flex: 1 1 auto;
    }

    @media (max-width: em(991px)) {
      display: none;
    }
  }

  .card__actions {
    @media (min-width: em(992px)) {
      justify-content: flex-end;
      padding: 0 15px 15px 15px;
    }
  }

  .card__actions-col {
    &:nth-child(1) {
      @media (min-width: em(992px)) {
        flex-grow: 0;
      }
    }
  }
}
