.d-flex { display: flex; }

.flex-direction-column { flex-direction: column; }

.flex-grow-1 {
  flex-grow: 1 !important;
  max-width: 100%;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 15px !important; }
.mt-2 { margin-top: 30px !important; }

.mb-1 { margin-bottom: 15px !important; }

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

/*================================================================
  container
================================================================*/

.container {
  flex: 1;
  max-width:1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.container_vertical-centerer {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

/*================================================================
  layout
================================================================*/
.layout {
  @media (min-width: em(992px)) {
    display: flex;
  }

  @media (max-width: em(1129px)) {
    max-width: 100%;
  }
}

.layout-sidebar {
  padding: 30px 0;

  @media (min-width: em(992px)) {
    flex: 0 0 251px;
    border-right: 1px solid #ddd;
  }
}

.layout-sidebar__title {
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: .5em;

  @media (min-width: em(992px)) {
    padding-right: 30px;
  }
}

.layout-sidebar__list {
  list-style: none;
  padding: 0;
}

.layout-sidebar__list-item {
  font-size: 1.25rem;
  font-weight: 300;
  border-bottom: 1px solid #ddd;
}

.layout-sidebar__list-link {
  display: block;
  padding: 10px 0 10px;
  color: #868686;
  transition: color .25s;

  &:hover,
  &:focus {
    outline: none;
    color: #000;
  }

  @media (min-width: em(992px)) {
    padding-right: 30px;
  }
}

/*================================================================
layout-content
================================================================*/

.layout-content {
  flex: 1 1 auto;
  padding-bottom: 30px;

  @media (min-width: em(992px)) {
    padding: 30px 0 30px 30px;
  }
}
